/*******************
 Box Sizing
 *******************/
 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/****************************
 Generic Margins and Paddings
 ****************************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/*******************
 Lists
 *******************/
ul {
  list-style: none;
}

/*******************
 Forms and buttons
 *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* I usually expand input and textarea to full-width */
input[type="text"],
textarea {
  width: 100%;
}

/* More friendly border */
input,
textarea,
button {
  border: 1px solid gray;
}

/* Some defaults for one-liner buttons */
button {
  padding: 0.75em 1em;
  border-radius: 0;
  line-height: 1;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/***********************************
 Easy responsive for media elements
 ***********************************/
img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

/*******************
 Useful table styles
 *******************/
table {
  table-layout: fixed;
  width: 100%;
}

/*******************
 The hidden attribute
 *******************/
[hidden] {
  display: none !important;
}

/*******************
 Noscript
 *******************/
 
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

[tabindex="-1"] {
  outline: none !important;
}

:root {
  --color-default-state: grey;
  --color-hover-state: rgb(107, 107, 195);
  --color-selected-state: rgb(17, 26, 101);
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.carousel {
  display: grid;
  grid-template-columns: 3em 80vw 3em;/*use 80vh for respo*/
  grid-template-rows: 70vh 3em;
  align-items: center;
  grid-gap: 1em;
}

.carousel > *:nth-child(2) {
  grid-column: 2;
  align-self: stretch;
}


/***ME FROM HERE ************************/

.carousel-contents {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease-out; /*DOES WORK FOR TRANSITIONS*/
}



.carousel-contents-container {
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel-slide > a {
  display: block;
  width: inherit;
  height: inherit;
}

.carousel-slide img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
}

/* TO MAKE IT RESPONSIVE MUST REMOVE THIS IN STEP 11
AND POSITION SLIDES WITH JS */
/*.carousel-slide:nth-child(2) {
  left: 800px;
}

.carousel-slide:nth-child(3) {
  left: 1600px;
}*/

/**
 * Buttons
 */
 .carousel-button {
  padding: 0.25em;
  border: none;
}
.carousel-button svg {
  fill: var(--color-default-state);
}

.carousel-button:hover svg,
.carousel-button:active svg {
  fill: var(--color-hover-state);
}

.carousel-button.is-hidden {
  display: none;
}


/**
 * Dots
 */
 .carousel-dots {
  grid-column: 1 / -1;
  justify-self: center;
}

.carousel-dot {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 100%;
  background-color: var(--color-default-state);
}

.carousel-dot + .carousel-dot {
  margin-left: 1em;
}

.carousel-dot:hover {
  background-color: var(--color-hover-state);
}

.carousel-dot.is-selected {
  background-color: var(--color-selected-state);
}

.is-hidden {
  display: none;
}
